$default_font: 'GT Walsheim Pro';

$font-size: 1rem;

$yellow: #ffdd2d;
$yellow_light: #fffcea;
$color_text: rgba(21, 21, 21, 0.7);
$dark: #151515;
$border: rgba(21, 21, 21, 0.1);
$transition: 0.3s all;

