.btn, a.btn {
    font-family: $default_font;
    @extend %btn;
    color: $dark;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    line-height: 3rem;
    transition: $transition;
    text-decoration: none !important;

    &.btn-yellow {
        background: $yellow;

        &:hover {
            background: lighten($yellow, 10%);
        }
    }

    &.btn-white {
        background-color: rgba(255, 255, 255, 0.7);

        &:hover {
            background: #FFF;
        }
    }

    &.btn-yellow-light {
        background-color: $yellow_light;

        &:hover {
            background: darken($yellow_light, 10%);
        }
    }
}
