.btn-drop-toggle {
    .icon-arr-down {
        transition: 0.3s all;
        fill: $yellow;
    }

    &.active {
        .icon-arr-down {
            transform: rotate(180deg);
        }
    }
}

.drop-list {
    @extend %drop-list;
    @extend %hidden;
    width: 11.5rem;
    left: 0;
    right: auto;

    li {
        font-size: 1rem;
    }
    &.active {
        @extend %visible;
        z-index: 10;
    }
}
