.entries {
    .entry {
        figure {
            margin-bottom: 1rem;
            height: 12rem;
            @include media-breakpoint('xl') {
                height: auto;
            }
        }
        &-title {
            display: block;
            color: $dark;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
        &.v-2 {
            figure {
                height: 16rem;
                @include media-breakpoint('xl') {
                    height: auto;
                }
            }
        }
    }
}
