#footer {
    border-top: 1px solid $border;
    padding-top: 2.5rem;
    margin-top: auto;
    @include media-breakpoint('xl') {
        padding-top: 1.5rem;

        .logo {
            max-width: 12.125rem;
        }
    }

    .font-medium {
        li {
            a {
                color: $dark;
            }
        }
    }
    .copyright {
        margin-top: 2rem;
        padding: 1.5rem 0;
        border-top: 1px solid $border;
        color: rgba(21, 21, 21, 0.35);
        @include media-breakpoint('xl') {
            font-size: 0.875rem;
            margin-top: 1.5rem;
        }
    }
}
