@charset "UTF-8";

:root {
    font-family: $default_font;
    color: $color_text;
    font-size: $font-size;
    background: #fff;
}

* {
    outline: none;
}

a {
    color: $color_text;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

i {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul.ul-reset, .ul-reset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-moz-placeholder {
    opacity: 1;
}

::-webkit-input-placeholder {
    opacity: 1;
}

#page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: $default_font;
    padding: 0;

    &:active, &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

[class*=icon-] {
    @extend %dib;
}

.container {
    width: 96%;
    @include media-breakpoint('xl') {
        width: 90%;
    }
}

.slick-arrow {
    @include center-y;
    z-index: 10;
    border: none;
    text-align: center;
    background: none;
    font-size: 0;
    width: 1rem;
    height: 0.72rem;

    &.slick-prev {
        background: url("../img/icon-arr-slide.svg") no-repeat top;
        left: -2.5rem;
        transform: rotate(180deg);
        margin-top: -2px;
    }

    &.slick-next {
        background: url("../img/icon-arr-slide.svg") no-repeat top;
        right: -2.5rem;
    }

    &.slick-disabled {
        opacity: 0.15;
        cursor: default;
    }
}

.section {
    padding: 4rem 0;

    @include media-breakpoint('xl') {
        padding: 1.5rem 0;
    }

    > .container {
        > .btn {
            display: none;
            @include media-breakpoint('xl') {
                display: block;
                margin-top: 1.5rem;
            }
        }
    }
}

.link-all {
    font-size: 0;

    span {
        @extend %dib;
        color: $dark;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 0.5rem;
    }

    .icon-arr-right {
        width: 0.5rem;
        height: 0.75rem;
        fill: $yellow;

        &.white {
            fill: #FFF;
        }
    }
}

.relative {
    > .link-all {
        position: absolute;
        top: 0.5rem;
        right: 0;
    }
}

.slider-items {
    @extend %slider-items;

    .slick-dots {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
    }
}

.slick-dots {
    @extend %slick-dots;
}

.bg-yellow {
    .slick-dots {
        li {

            &:hover, &.slick-active {
                button {
                    background-color: $dark;
                }
            }
        }
    }
}

.ul-reset.list {
    margin-bottom: 1.5rem;

    li {
        margin-bottom: 1rem;


        &:hover, &.active {
            a {
                color: $dark;
                text-decoration: underline;
            }
        }

        &:last-child {
            margin: 0;
        }
    }

    &:last-child {
        margin: 0;
    }
}

.breadcrumbs {
    margin-top: -2rem;
    font-size: 0.875rem;

    @include media-breakpoint('xl') {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}

.link-back {
    font-size: 0;

    .icon-arr-back-yellow {
        fill: $yellow;
    }

    span {
        @extend %dib;
        color: $dark;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 0.75rem;
    }
}

.stickers {
    position: absolute;
    left: 1.5rem;
    top: -.5rem;
    display: flex;
    flex-wrap: wrap;

    .sticker {
        line-height: 1.5rem;
        border-radius: 0.188rem;
        color: #FFF;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 0 .5rem;

        &.red {
            background-color: #ef2b2b;
        }

        &.dark {
            background: $dark;
        }

    }
}

.rating {
    display: flex;
    align-items: center;

    a, span {
        font-size: 0.875rem;
        margin-left: 0.5rem;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;

    a {
        border-radius: 1.5rem;
        background-color: $yellow_light;
        margin: 0 0.5rem 0.5rem 0;
        text-decoration: none !important;
        line-height: 2rem;
        padding: 0 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.banner-text {
    background: url("../img/bg-circle-2.svg") no-repeat left top $yellow;
    padding: 1.5rem;
    position: relative;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    @include media-breakpoint('xl') {
        padding: 1rem;
        background: url("../img/bg-circle-3.svg") no-repeat left top $yellow;
    }

    b {
        font-size: 1.125rem;
        font-weight: 500;
        color: $dark;
    }
    .btn {
        @include center-y;
        right: 1.5rem;
        background: #fff !important;

        @include media-breakpoint('xl') {
            position: static;
            transform: none;
            margin-top: 1rem;
            width: 100%;
        }
    }
}
