.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.bg-yellow {
    background: $yellow;
}

.bg-yellow-light {
    background: $yellow_light;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 1.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 2.5rem;
}

.mb-1-xl {
    @include media-breakpoint('xl') {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.mb-2-xl {
    @include media-breakpoint('xl') {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    border-bottom: 1px solid $border;
}

.rounded {
    border-radius: $rounded;
}

.font-medium {
    font-weight: 500;
}

.all-space {
    width: 100%;
}


.hidden-sm {
    @include media-breakpoint('sm') {
        display: none !important;
    }
}

.hidden-md {
    @include media-breakpoint('md') {
        display: none !important;
    }
}

.hidden-lg {
    @include media-breakpoint('lg') {
        display: none !important;
    }
}

.hidden-xl {
    @include media-breakpoint('xl') {
        display: none !important;
    }
}
