.offers {
    .offer {
        @extend %block;
        position: relative;

        &-head {
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;

            .offer-title {
                color: $dark;
                font-size: 1.125rem;
                font-weight: 500;
                display: block;
                line-height: 1.5rem;
            }

            .offer-desc {
                font-size: 0.75rem;
            }
        }

        figure {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 4rem;

        }

        &-options {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            dl {
                width: 45%;
                margin-bottom: 1rem;
                display: flex;
                flex-wrap: wrap;

                dt {
                    width: 100%;
                    font-size: 0.75rem;
                    order: 1;
                }
                dd {
                    width: 100%;
                    color: $dark;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    order: 0;
                }
            }
        }
        .btn {
            width: 100%;
        }
        &.v-2 {
            figure {
                height: 9.25rem;
                border-radius: $rounded;
                border: 0.063rem solid $border;
                position: static;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
            }

            .offer-head {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
