.offers-list {

    .offer {
        margin-bottom: -1px;
        @include media-breakpoint('xl') {
            padding: 1rem;
        }

        figure {
            height: 10rem;
            margin-bottom: 1.5rem;
            @include media-breakpoint('xl') {
                height: auto;
                margin-bottom: 0.5rem;
                min-height: 9rem;
            }
        }

        &-title {
            border-bottom: 1px solid $border;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            @include media-breakpoint('xl') {
                padding-bottom: 0;
                border-bottom: 0;

            }

            > a {
                color: $dark;
                display: inline-block;
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration: none;
                @include media-breakpoint('xl') {
                    font-size: 1.125rem;
                }
            }
        }

        &-bank {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &-options {
            @extend %options;
        }

        .btn-offer-details {
            color: $dark;
            font-size: 1rem;
            @include media-breakpoint('xl') {
                display: none;
            }

            .icon-arr-down {
                fill: $yellow;
                transition: $transition;
            }

            &.active {
                .icon-arr-down {
                    transform: rotate(180deg);
                }
            }
        }

        &-details {
            border-top: 1px solid $border;
            margin-top: 1rem;
            padding-top: 1rem;
            display: none;

            dl {
                border-radius: $rounded;
                background-color: rgba(21, 21, 21, 0.03);
                line-height: 1.5rem;
                display: flex;

                dt, dd {
                    width: 50%;
                    padding: 0.75rem 1rem;
                }

                &:nth-child(even) {
                    background: #fff;
                }
            }
        }

        .tabs-content {
            display: flex;
            margin-bottom: 1.25rem;
            @include media-breakpoint('xl') {
                overflow: auto;
                padding-bottom: 2px;
            }

            li {
                margin-right: 2.5rem;
                font-weight: 500;
                line-height: 1.5rem;
                cursor: pointer;
                @include media-breakpoint('xl') {
                    white-space: nowrap;
                    margin-right: 1.5rem;
                }


                &.active {
                    position: relative;
                    cursor: default;
                    color: $dark;

                    a {
                        color: $dark;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        right: 0;
                        height: 0.125rem;
                        border-radius: 0.125rem;
                        background-color: $yellow;
                    }
                }

            }
        }

        .btn {
            margin-bottom: 0.5rem;
            text-decoration: none;

            @include media-breakpoint('xl') {
                width: 100%;
            }

            &:last-child {
                margin: 0;
            }
        }

        &-buttons {
            .btn {
                margin: 0 1rem 0 0;

                @include media-breakpoint('xl') {
                    margin: 0 0 0.5rem 0;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        &:first-child {
            border-top-left-radius: $rounded;
            border-top-right-radius: $rounded;
        }

        &:last-child {
            border-bottom-left-radius: $rounded;
            border-bottom-right-radius: $rounded;
        }
    }

}
