.reviews-add-form {
    background: $yellow_light;
    padding: 2rem;
    border-radius: 0.5rem;
    @include media-breakpoint('xl') {
        padding: 1rem;
        margin: 0 -5vw;
    }

    .red {
        color: #e93e3e;
    }

    .rating {
        span {
            margin-right: 0.5rem;
        }
    }

    .files-area {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        border-radius: 0.313rem;
        border: 0.125rem dashed rgba(0, 0, 0, 0.1);
        color: rgba(21, 21, 21, 0.3);
        font-size: 0.875rem;
        cursor: pointer;
        text-align: center;
        padding: 0.5rem;

        input {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }
    }

    .info {
        color: rgba(21, 21, 21, 0.3);
    }

    .btn-wrap {
        display: flex;
        align-items: center;

        .rule {
            font-size: 0.875rem;
            margin-left: 1.5rem;
            max-width: 37.5rem;

            a {
                color: $dark;
            }
        }

        @include media-breakpoint('xl') {
            flex-wrap: wrap;

            .btn {
                width: 100%;
            }

            .rule {
                max-width: initial;
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}
