.tabs-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @include media-breakpoint('xl') {
        display: block;
        margin-bottom: 1.5rem;
    }

    .tabs {
        display: flex;
        @include media-breakpoint('xl') {
            overflow: auto;
            padding-bottom: 2px;
        }

        li {
            margin-right: 2.5rem;
            font-weight: 500;
            line-height: 1.5rem;
            cursor: pointer;
            @include media-breakpoint('xl') {
                white-space: nowrap;
                margin-right: 1.5rem;
            }



            &.active {
                position: relative;
                cursor: default;
                color: $dark;

                a {
                    color: $dark;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    height: 0.125rem;
                    border-radius: 0.125rem;
                    background-color: $yellow;
                }
            }

        }
        &.dark {
            li {
                &.active {

                    &:before {
                        background: rgba(21, 21, 21, 0.3);
                    }
                }
            }
        }
    }
    .link-all {
        @include media-breakpoint('xl') {
            display: none;
        }
    }
}

.tab-content {
    display: none;

    &.visible {
        display: block;
    }
}


