.title {
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: $dark;

    &.h1 {
        font-size: 2rem;
    }

    &.h2 {

    }

    &.h3 {

    }

    &.h4 {

    }

    &.h5 {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    &.h6 {

    }
}
