<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header-line.html' %}
    <main class="section container" id="main">
        <div id="e-404">
            <div class="e-404">
                <div class="e-404-text">404</div>
                <div class="e-404-error">Ошибка</div>
            </div>
            <p>К сожалению, запрашиваемая страница не найдена, <br>
                но есть другие, тоже хорошие.</p>
            <a href="index.html" class="link-back">
                <svg class="icon-arr-back-yellow">
                    <use xlink:href="img/symbol/sprite.svg#icon-arr-back-yellow"></use>
                </svg>
                <span>Вернуться на главную</span>
            </a>
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

