<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    <div id="filter">
        <div class="container relative">
            <div class="filter-title">Кредитные карты c плохой историей</div>
            <form id="filter-form" class="filter-form" action="">
                <label class="form-field mb-1 visible-xl">
                    <select name="card_type" id="">
                        <option value="0">Все карты</option>
                        <option value="1">Для снятия наличных</option>
                        <option value="2">Кэшбек</option>
                        <option value="3">Бонусы</option>
                    </select>
                </label>
                <div class="filter-types">
                    <label>
                        <input type="radio" name="card_type" value="0" checked>
                        <span>Все карты</span>
                    </label>
                    <label>
                        <input type="radio" name="card_type" value="1">
                        <span>Для снятия наличных</span>
                    </label>
                    <label>
                        <input type="radio" name="card_type" value="2">
                        <span>Кэшбек</span>
                    </label>
                    <label>
                        <input type="radio" name="card_type" value="3">
                        <span>Бонусы</span>
                    </label>
                </div>
                <div class="filter-row">
                    <div class="filter-input with-slider">
                        <label class="form-field">
                            <span class="label">Какой кредитный лимит вам нужен</span>
                            <input type="text" name="credit_limit" value="48 000">
                        </label>
                        <div class="input-slider" data-min="1000" data-max="100000" data-value="20000"  data-join="₽"></div>
                    </div>
                    <div class="filter-input with-slider">
                        <label class="form-field">
                            <span class="label">Сколько тратите в месяц </span>
                            <input type="text" name="spending_per_month" value="Пока незнаю">
                        </label>
                        <div class="select-wrap">
                            <select name="currency" id="">
                                <option value="₽">₽</option>
                                <option value="₽">₽</option>
                            </select>
                        </div>

                        <div class="input-slider" data-min="500" data-max="50000" data-value="10000" data-join="₽"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-yellow">Показать (49)</button>
                <button type="submit" class="btn-extra-options">
                    <span>Дополнительные параметры</span>
                    <svg class="icon-arr-down">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                    </svg>
                </button>
            </form>
            <figure>
                <img src="img/girl.jpg" alt="" class="object-fit">
            </figure>
        </div>
    </div>
    <main id="main" class="section pb-0">
        <div class="container">
            <div id="sort" class="mb-2">
                <div class="sort-item">
                    <span>Сортировать:</span>
                    <button type="button" class="btn-drop-toggle">
                        <span>по льготному периоду</span>
                        <svg class="icon-arr-down">
                            <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                        </svg>
                    </button>
                    <ul class="ul-reset drop-list">
                        <li><a href="#">Сначала полезные</a></li>
                        <li><a href="#">Новые</a></li>
                        <li><a href="#">Проверенные</a></li>
                    </ul>
                </div>
            </div>
            <div class="offers">
                <div class="row">
                    {% for i in range(0, 12)  %}
                        <div class="col-md-3 mb-2">
                            <div class="offer border">
                                <div class="offer-head line">
                                    <a href="#" class="offer-title">Альфа Банк {{ i }}</a>
                                    <div class="offer-desc">
                                        100 дней без процентов
                                    </div>
                                </div>
                                <figure>
                                    <img src="img/img-card.jpg" alt="" class="rounded">
                                </figure>
                                <div class="stickers">
                                    {% if i ==0 %}
                                        <div class="sticker red">
                                            Бесплатная доставка
                                        </div>
                                    {% endif %}
                                    {% if i ==1 %}
                                        <div class="sticker dark">
                                            Лучшее предложение
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="offer-options">
                                    <dl>
                                        <dt>Обслуживание</dt>
                                        <dd>1 490 ₽ в год</dd>
                                    </dl>
                                    <dl>
                                        <dt>Льготный период</dt>
                                        <dd>до 100 дней</dd>
                                    </dl>
                                    <dl>
                                        <dt>Сумма</dt>
                                        <dd>до 300 000 ₽</dd>
                                    </dl>
                                    <dl>
                                        <dt>Ставка</dt>
                                        <dd>20%</dd>
                                    </dl>
                                </div>
                                <a href="#" class="btn btn-yellow">Подробнее</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'nav-links.html' %}
        </div>
    </main>
    {% include 'reviews-inner.html' %}
    {% include 'faq.html' %}
    {% include 'lists.html' %}
    {% include 'bottom-text.html' %}
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

