<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    <div id="slider-main" class="bg-yellow-light">
        <div class="container">
            <div id="single-slider">
                {% for i in range(0, 3)   %}
                    <div>
                        <div class="slide">
                            <div>
                                <div class="slide-title">Персональный подбор кредита {{ i }}</div>
                                <p>Проверь свой кредитный рейтинг и узнай, какой банк и по какой ставке одобрит тебе кредит</p>
                                <a href="#" class="btn btn-yellow">Подобрать кредит</a>
                            </div>

                            <figure>
                                <img src="img/girl.jpg" alt="" class="object-fit">
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section container" id="products-main">
        <div class="row">
            <div class="col-md-3 mb-1-xl">
                <div class="title h1">
                    Выберите нужный вам продукт
                </div>
                <p>Мы собрали для Вас лучшие предложения на все случаи жизни</p>
                <div class="slider-products-arrows"></div>
            </div>
            <div class="col-md-9">
                <div id="slider-products-main">
                    {% for i in range(0, 3)  %}
                        <div>
                            <a href="#" class="product">
                                <dl>
                                    <dt>Кредитные карты</dt>
                                    <dd>Без процентов</dd>
                                    <dd>С плохой КИ</dd>
                                    <dd>До зарплаты</dd>
                                </dl>
                                <div class="icon">
                                    <svg class="icon-card">
                                        <use xlink:href="img/symbol/sprite.svg#icon-card"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="product">
                                <dl>
                                    <dt>Займы</dt>
                                    <dd>Без процентов</dd>
                                    <dd>С плохой КИ</dd>
                                    <dd>До зарплаты</dd>
                                </dl>
                                <div class="icon">
                                    <svg class="icon-money">
                                        <use xlink:href="img/symbol/sprite.svg#icon-money"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="product">
                                <dl>
                                    <dt>Дебетовые карты</dt>
                                    <dd>Без процентов</dd>
                                    <dd>С плохой КИ</dd>
                                    <dd>До зарплаты</dd>
                                </dl>
                                <div class="icon">
                                    <svg class="icon-card-2">
                                        <use xlink:href="img/symbol/sprite.svg#icon-card-2"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="section offers bg-yellow-light">
        <div class="container">
            <div class="title h1">Лучшие предложения</div>
            <div class="tabs-wrap">
                <ul class="ul-reset tabs">
                    <li class="active">Кредитные карты</li>
                    <li>Займы</li>
                    <li>Дебетовые карты</li>
                    <li>Карты рассрочки</li>
                    <li>Кредиты</li>
                </ul>
                <a href="#" class="link-all">
                    <span>Все предложения</span>
                    <svg class="icon-arr-right">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-right"></use>
                    </svg>
                </a>
            </div>
            {% for i in range(0, 5)  %}
                <div class="tab-content{% if i == 0 %} visible{% endif %}">
                    <div class="slider-items">
                        {% for j in range(0, 10)  %}
                            <div>
                                {% if i == 1 %}
                                    <div class="offer v-2">
                                        <figure>
                                            <a href="#"><img src="img/img-credit.jpg" alt=""></a>
                                        </figure>
                                        <div class="offer-head line">
                                            <a href="#" class="offer-title">Национальный кредит {{ i }}</a>
                                        </div>
                                        <div class="offer-options">
                                            <dl>
                                                <dt>Сумма займа</dt>
                                                <dd>30 000 ₽</dd>
                                            </dl>
                                            <dl>
                                                <dt>Проц. ставка</dt>
                                                <dd>0$</dd>
                                            </dl>
                                            <dl>
                                                <dt>Срок займа</dt>
                                                <dd>7-21 день</dd>
                                            </dl>
                                            <dl>
                                                <dt>Решение</dt>
                                                <dd>1 мин.</dd>
                                            </dl>
                                        </div>
                                        <a href="#" class="btn btn-yellow">Подробнее</a>
                                    </div>
                                    {% else %}
                                        <div class="offer">
                                            <div class="offer-head line">
                                                <a href="#" class="offer-title">Альфа Банк {{ i }}</a>
                                                <div class="offer-desc">
                                                    100 дней без процентов
                                                </div>
                                            </div>
                                            <figure>
                                                <img src="img/img-card.jpg" alt="" class="rounded">
                                            </figure>
                                            <div class="offer-options">
                                                <dl>
                                                    <dt>Обслуживание</dt>
                                                    <dd>1 490 ₽ в год</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Льготный период</dt>
                                                    <dd>до 100 дней</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Сумма</dt>
                                                    <dd>до 300 000 ₽</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Ставка</dt>
                                                    <dd>20%</dd>
                                                </dl>
                                            </div>
                                            <a href="#" class="btn btn-yellow">Подробнее</a>
                                        </div>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="section reviews bg-yellow">
        <div class="container">
            <div class="title h1">Отзывы потребителей</div>
            <div class="tabs-wrap">
                <ul class="ul-reset tabs dark">
                    <li class="active">Кредитные карты</li>
                    <li>Займы</li>
                    <li>Дебетовые карты</li>
                    <li>Карты рассрочки</li>
                    <li>Кредиты</li>
                </ul>
                <a href="#" class="link-all">
                    <span>Все отзывы</span>
                    <svg class="icon-arr-right white">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-right"></use>
                    </svg>
                </a>
            </div>
            {% for i in range(0, 5)  %}
                <div class="tab-content{% if i == 0 %} visible{% endif %}">
                    <div class="slider-items">
                        {% for j in range(0, 10)  %}
                            <div>
                                <div class="review">
                                    <figure>
                                        <img src="img/img-card-2.jpg" alt="" class="rounded object-fit">
                                    </figure>
                                    <div class="review-author">
                                        <span>Инна {{ i }}</span>
                                        <div class="stars" data-rating="3">
                                            {% include 'stars.html' %}
                                        </div>
                                    </div>
                                    <div class="review-text">
                                        Добрый день! Меня звать Сергей, оформлял кредитную карту 100 дней зарплата с вычетом 13% 24000 мне почему-то не од...
                                        <a href="#" class="link-read-more">Читать далее</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="#" class="btn btn-white all-space">Все отзывы</a>
        </div>
    </div>
    <div class="section entries line">
        <div class="container">
            <div class="title h1">Полезные статьи</div>
            <div class="tabs-wrap">
                <ul class="ul-reset tabs">
                    <li class="active">Все</li>
                    <li>Сравнения</li>
                    <li>Бытовая аналитика</li>
                    <li>Тест-драйвы</li>
                    <li>Истории</li>
                    <li>Советы</li>
                </ul>
                <a href="#" class="link-all">
                    <span>Все статьи</span>
                    <svg class="icon-arr-right">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-right"></use>
                    </svg>
                </a>
            </div>
            {% for i in range(0, 6)  %}
                <div class="tab-content{% if i == 0 %} visible{% endif %}">
                    <div class="slider-items">
                        {% for j in range(0, 10)  %}
                            <div>
                                <a href="#" class="entry">
                                    <figure>
                                        <img src="img/img-news.jpg" alt="" class="rounded object-fit">
                                    </figure>
                                    <span class="entry-title">Рецессия или стагнация? Насколько хорошо вы разбираетесь в кризисе {{ i }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="#" class="btn btn-yellow all-space">Все отзывы</a>
        </div>
    </div>
    <div class="section line">
        <div class="container">
            <div class="title h1">Часто ищут</div>
            <div class="row">
                {% for i in range(0, 4)  %}
                    <div class="col-md-3 mb-2-xl">
                        <div class="title h5">Кредиты</div>
                        <ul class="ul-reset list">
                            <li><a href="#">Без справок о доходах</a></li>
                            <li><a href="#">В день обращения</a></li>
                            <li><a href="#">Самые выгодные</a></li>
                            <li><a href="#">Наличными</a></li>
                        </ul>
                        <div class="title h5">Кредиты</div>
                        <ul class="ul-reset list">
                            <li><a href="#">Без справок о доходах</a></li>
                            <li><a href="#">В день обращения</a></li>
                            <li><a href="#">Самые выгодные</a></li>
                            <li><a href="#">Наличными</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <article class="article section container">
        <h1 class="title h1">КредитыОнлайн — помогаем в подборе кредита</h1>
        <p>Одна из основных задач портала КредитыОнлайн — персональный подбор кредитного продукта для конкретного человека. Мы сделали все возможное, чтобы каждый смог сделать лучший выбор:</p>
        <ul>
            <li>Проанализировали кредитные предложения всех банков страны, разместили лучшие из них на страницах сайта;</li>
            <li>Каждое предложение сопровождается подробным описанием: что нужно для получения кредита, требования к заемщикам, документам;</li>
            <li>Проанализировали кредитные предложения всех банков страны, разместили лучшие из них на страницах сайта;</li>
            <li>Каждое предложение сопровождается подробным описанием: что нужно для получения кредита, требования к заемщикам, документам;</li>
            <li>Проанализировали кредитные предложения всех банков страны, разместили лучшие из них на страницах сайта;</li>
            <li>Каждое предложение сопровождается подробным описанием: что нужно для получения кредита, требования к заемщикам, документам;</li>
        </ul>
        <p>Основная задача — сделать так, чтобы посетитель сайта нашел всю необходимую ему информацию на страницах КредитыОнлайн. Чтобы он смог выбрать оптимальный для себя финансовый продукт и сразу обратился онлайн за его предоставлением.</p>
        <p>Мы — не просто сайт подбора кредитов и не мастер подбора. Мы — кладезь информации для тех, кто интересуется предложениями банка. Не нужно перебирать сайты банков, искать на них точную тарификацию (банки часто ее прячут), все необходимые сведения найдете на страницах КредитыОнлайн.</p>
    </article>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

