<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header-line.html' %}
    <main class="section container" id="main">
        <div class="breadcrumbs mb-1">
            <a href="#">Главная</a>
            <i class="sep">-</i>
            Статьи
        </div>
        <div class="title h1">Статьи</div>
        <div class="tabs-wrap">
            <ul class="ul-reset tabs">
                <li class="active"><a href="#">Все</a></li>
                <li><a href="#">Сравнения</a></li>
                <li><a href="#">Бытовая аналитика</a></li>
                <li><a href="#">Тест-драйвы</a></li>
                <li><a href="#">Истории</a></li>
                <li><a href="#">Советы</a></li>
            </ul>
        </div>
        <div class="entries">
            <div class="row">
                {% for i in range(0, 12)  %}
                    <div class="col-md-3 mb-3">
                        <a href="#" class="entry">
                            <figure>
                                <img src="img/img-news.jpg" alt="" class="rounded object-fit">
                            </figure>
                            <span class="entry-title">Рецессия или стагнация? Насколько хорошо вы разбираетесь в кризисе {{ i }}</span>
                        </a>
                    </div>

                {% endfor %}
            </div>
            {% include 'nav-links.html' %}
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

