<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header-line.html' %}
    <main class="section container max-width-808" id="main">
        <div class="breadcrumbs mb-1">
            <a href="#">Главная</a>
            <i class="sep">-</i>
            Статьи
        </div>
        <article class="article mb-4">
            <h1 class="title h1">Копирайтинг как вариант удаленной работы на период пандемии</h1>
            <div class="wp-caption aligncenter">
                <img src="img/img-article.jpg" alt="">
                <div class="wp-caption-text">
                    Описание или текст для фотографии
                </div>
            </div>
            <h2>H2 Заголовок второго уровня</h2>
            <p>28 февраля 2020 г., <a href="#">AEX.RU</a> – <span>Национальный авиаперевозчик</span> России,
                авиакомпания Аэрофлот, член
                альянса SkyTeam, получил сегодня в свое распоряжение первый лайнер A350. Об этом сообщает
                пресс-служба Airbus.</p>
            <p><b>«Таким образом</b>, Аэрофлот стал первым оператором данного типа самолетов в Восточной Европе и СНГ.
                A350-900 Аэрофлота окрашен в новую ливрею, охватывающую почти 100-летнее наследие авиакомпании»,
                - отметили в Airbus.
            <p>A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе. Кроме того, на борту самолета установлена развлекательная система Panasonic eX3
                последнего поколения, а также экраны высокой четкости и оборудование для подключения к Wi-Fi,
                что обеспечит расширенные возможности для всех пассажиров на дальнемагистральных рейсах.
                Аэрофлот будет эксплуатировать A350-900 на рейсах из Москвы по ряду направлений, включая Лондон,
                Дубай, Нью-Йорк, Майами, Осака и Пекин, рассказали в Airbus.</p>

            <p>Всего Аэрофлот разместил заказ на 22 самолета A350-900. При этом авиакомпания уже эксплуатирует в
                сове парке 126 самолетов производства Airbus (107 самолетов семейства A320 и 19 самолетов
                семейства A330).</p>
            <p><strong>Список точками</strong></p>
            <ul>
                <li>Список 2</li>
                <li>Список 2</li>
                <li>Список 2</li>
            </ul>
            <blockquote>
                A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе.
            </blockquote>
            <h2>Лучшие авиакомпании</h2>
            <ol>
                <li>Список 2</li>
                <li>Список 2</li>
                <li>Список 2</li>
            </ol>
            <blockquote>
                A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе.
            </blockquote>
            <blockquote class="v-2">
                A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе.
            </blockquote>
            <div class="table-wrap">
                <table>
                    <thead>
                        <tr>
                            <th>Название пункта 2</th>
                            <th>Название пункта 2</th>
                            <th>Название пункта 2</th>
                            <th>Название пункта 2</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Название пункта 3</td>
                        <td>Название пункта 3</td>
                        <td>Название пункта 3</td>
                        <td>Название пункта 3</td>
                    </tr>
                    <tr>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                    </tr>
                    <tr>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <footer>
                <a href="index.html" class="link-back">
                    <svg class="icon-arr-back-yellow">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-back-yellow"></use>
                    </svg>
                    <span>Вернуться на главную</span>
                </a>
            </footer>
        </article>
        <div class="entries">
            <div class="title h1">Похожие статьи</div>
            <div class="row">
                {% for i in range(0, 2) %}
                    <div class="col-md-6 mb-1-xl">
                        <a href="#" class="entry v-2">
                            <figure>
                                <img src="img/img-news.jpg" alt="" class="rounded object-fit">
                            </figure>
                            <span class="entry-title">Рецессия или стагнация? Насколько хорошо вы разбираетесь в кризисе {{ i }}</span>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

