<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    <div id="filter">
        <div class="container relative">
            <div class="filter-title">Займы</div>
            <form id="filter-form" class="filter-form" action="">
                <div class="filter-row">
                    <div class="filter-input with-slider">
                        <label class="form-field">
                            <span class="label">Сумма займа</span>
                            <input type="text" name="credit_limit" value="48 000">
                        </label>
                        <div class="input-slider" data-min="1000" data-max="100000" data-value="20000"  data-join="₽"></div>
                    </div>
                    <div class="filter-input with-slider no-select">
                        <label class="form-field">
                            <span class="label">Срок займа</span>
                            <input type="text" name="spending_per_month" value="Пока незнаю">
                        </label>
                        <div class="input-slider" data-min="1" data-max="50" data-value="10" data-join="дней"></div>
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-detail">
                        <dl>
                            <dt>Вы берете</dt>
                            <dd>10 000 ₽</dd>
                        </dl>
                        <dl>
                            <dt>На срок</dt>
                            <dd>15 дней</dd>
                        </dl>
                    </div>
                    <div class="filter-detail">
                        <dl>
                            <dt>Отдаете</dt>
                            <dd>11 050 ₽</dd>
                        </dl>
                        <dl>
                            <dt>Вернуть до</dt>
                            <dd>29.04.2020</dd>
                        </dl>
                    </div>
                </div>

                <button type="submit" class="btn btn-yellow">Подобрать займ</button>
            </form>
            <figure>
                <img src="img/girl.jpg" alt="" class="object-fit">
            </figure>
        </div>
    </div>
    <main id="main" class="section pb-0">
        <div class="container">
            <div id="sort" class="mb-2">
                <div class="sort-item">
                    <span>Сортировать:</span>
                    <button type="button" class="btn-drop-toggle">
                        <span>по льготному периоду</span>
                        <svg class="icon-arr-down">
                            <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                        </svg>
                    </button>
                    <ul class="ul-reset drop-list">
                        <li><a href="#">Сначала полезные</a></li>
                        <li><a href="#">Новые</a></li>
                        <li><a href="#">Проверенные</a></li>
                    </ul>
                </div>
            </div>
            <div class="offers-list mb-2">
                {% for i in range(0, 5)  %}
                    <div class="offer pd-2 border">
                        <div class="row">
                            <div class="col-md-3 mb-1-xl">
                                <div class="offer-title visible-xl">
                                    <a href="#">Национальный кредит</a>
                                </div>
                                <figure class="border rounded d-flex align-items-center justify-content-center">
                                    <img src="img/img-credit.jpg" alt="">
                                </figure>
                                <div class="rating justify-content-center">
                                    <div class="stars" data-rating="3">
                                        {% include 'stars.html' %}
                                    </div>
                                    <a href="#">8 отзывов</a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="offer-title hidden-xl">
                                    <a href="#">Национальный кредит</a>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row offer-options">
                                            <div class="col-md-4 col-6 mb-1">
                                                <dl>
                                                    <dt>
                                                        Срок займа
                                                    </dt>
                                                    <dd>до 36 мес.</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4 col-6 mb-1">
                                                <dl>
                                                    <dt>
                                                        Сумма займа
                                                    </dt>
                                                    <dd>до 6 000 000 ₽</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4 col-6 mb-1">
                                                <dl>
                                                    <dt>
                                                        Рассмотрение
                                                    </dt>
                                                    <dd>1 час</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4 col-6 mb-1">
                                                <dl>
                                                    <dt>
                                                        Возраст заёмщика
                                                    </dt>
                                                    <dd>от 18 лет</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-8 mb-1">
                                                <dl>
                                                    <dt>
                                                        Способы получения
                                                    </dt>
                                                    <dd>
                                                        <img src="img/icon-visa.svg" alt="">
                                                        <img src="img/icon-mc.svg" alt="">
                                                        <img src="img/icon-mir.svg" alt="">
                                                        <img src="img/icon-cash.svg" alt="">
                                                        <img src="img/icon-dollar.svg" alt="">
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-yellow">Оформить займ</button>
                                        <a href="#" class="btn btn-yellow-light">Подробнее</a>
                                    </div>
                                </div>
                                <button class="btn-offer-details">
                                    <span>Тарифы</span>
                                    <svg class="icon-arr-down">
                                        <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                                    </svg>
                                </button>
                            </div>

                        </div>
                        <div class="offer-details">
                            <div class="row justify-content-end">
                                <div class="col-9">
                                    <ul class="ul-reset tabs-content">
                                        <li class="active">Условия</li>
                                        <li>Снятие наличных</li>
                                        <li>Лимиты</li>
                                    </ul>
                                    <div class="tab-content visible">
                                        {% for i in range(0, 3)  %}
                                            <dl>
                                                <dt>Кредитная ставка на покупки</dt>
                                                <dd>11.99% - 29.23%</dd>
                                            </dl>
                                            <dl>
                                                <dt>Кредитная ставка на наличные</dt>
                                                <dd>23.99% - 29.23%</dd>
                                            </dl>
                                            <dl>
                                                <dt>Кредитный лимит</dt>
                                                <dd>до 500 000 ₽</dd>
                                            </dl>
                                        {% endfor %}
                                    </div>
                                    <div class="tab-content">2</div>
                                    <div class="tab-content">3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'nav-links.html' %}
        </div>
    </main>
    {% include 'reviews-inner.html' %}
    {% include 'faq.html' %}
    {% include 'lists.html' %}
    {% include 'bottom-text.html' %}
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

