<div class="section line" id="faq">
    <div class="container">
        <div class="title h1">Частые вопросы</div>
        {% for i in range(0, 10) %}
            <div class="faq">
                <div class="question">
                    Как оставить/написать отзыв на сайте?
                    <svg class="icon-arr-down">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                    </svg>
                </div>
                <div class="answer article">
                    <p>Биржа фриланса — это онлайн платформа, представляющая собой удобный способ взаимодействия
                        между работодателем и специалистом. Данный формат сотрудничества не требует личной
                        встречи, а обговаривать все детали проекта и оплачивать проделанный труд просто даже
                        тогда, когда стороны находятся в разных уголках планеты.</p>

                    <p>Фрилансер (англ. freelancer) - свободный работник. Когда-то таким словом именовали
                        вольных наемников в военном деле. Современный freelancer - это профессионал, который
                        освободился от офисного гнёта и начал трудиться дома или в коворкинге. Причем без
                        обязательного официального образования. Главное - в совершенстве владеть навыками,
                        необходимыми для реализации конкретной задачи.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
