<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-2-xl">
                <div class="logo">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
            <div class="col-md-3 mb-2-xl">
                <ul class="ul-reset list font-medium">
                    <li><a href="#">Кредитные карты</a></li>
                    <li><a href="#">Дебетовые карты</a></li>
                    <li><a href="#">Карты рассрочки</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-2-xl">
                <ul class="ul-reset list font-medium">
                    <li><a href="#">Займы</a></li>
                    <li><a href="#">Кредиты</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="ul-reset list">
                    <li><a href="#">О сервисе</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#policy" data-fancybox>Политика конфиденциальности</a></li>
                    <li><a href="#question" data-fancybox>Задать вопрос</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2020 КредитыОнлайн. Все права защищены
        </div>
    </div>
</footer>
