<header id="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="img/logo.svg" alt=""></a>
        </div>
        <button type="submit" class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <nav id="nav">
            <ul class="ul-reset">
                <li>
                    <a href="#">Кредитные карты</a>
                    <ul>
                        <li><a href="#">Кредитные карты</a></li>
                        <li><a href="#">Займы</a></li>
                        <li><a href="#">Дебетовые карты </a></li>
                        <li><a href="#">Карты рассрочки</a></li>
                        <li><a href="#">Кредиты </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Займы</a>
                    <ul>
                        <li><a href="#">Кредитные карты</a></li>
                        <li><a href="#">Займы</a></li>
                        <li><a href="#">Дебетовые карты </a></li>
                        <li><a href="#">Карты рассрочки</a></li>
                        <li><a href="#">Кредиты </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Дебетовые карты </a>
                    <ul>
                        <li><a href="#">Кредитные карты</a></li>
                        <li><a href="#">Займы</a></li>
                        <li><a href="#">Дебетовые карты </a></li>
                        <li><a href="#">Карты рассрочки</a></li>
                        <li><a href="#">Кредиты </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Карты рассрочки</a>
                    <ul>
                        <li><a href="#">Кредитные карты</a></li>
                        <li><a href="#">Займы</a></li>
                        <li><a href="#">Дебетовые карты </a></li>
                        <li><a href="#">Карты рассрочки</a></li>
                        <li><a href="#">Кредиты </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Кредиты </a>
                    <ul>
                        <li><a href="#">Кредитные карты</a></li>
                        <li><a href="#">Займы</a></li>
                        <li><a href="#">Дебетовые карты </a></li>
                        <li><a href="#">Карты рассрочки</a></li>
                        <li><a href="#">Кредиты </a></li>
                    </ul>
                </li>
            </ul>
            <div id="quick-search">
                <button type="button" class="btn-show-search">
                    <svg class="icon-search">
                        <use xlink:href="img/symbol/sprite.svg#icon-search"></use>
                    </svg>
                </button>
                <form action="" class="quick-search-form">
                    <input type="text" placeholder="Поиск" name="s">
                    <button type="submit">
                        <svg class="icon-search">
                            <use xlink:href="img/symbol/sprite.svg#icon-search"></use>
                        </svg>
                    </button>
                    <button type="button">
                        <svg class="icon-cross">
                            <use xlink:href="img/symbol/sprite.svg#icon-cross"></use>
                        </svg>
                    </button>
                    <ul class="ul-reset search-results">
                        <li><a href="#">Дизайн сайта</a></li>
                        <li><a href="#">Дизайн мобильного приложения </a></li>
                        <li><a href="#">Дизайн буклетов</a></li>
                        <li><a href="#">Дизайн интерьера</a></li>
                    </ul>
                </form>
            </div>
        </nav>
    </div>
</header>
