<div class="section line">
    <div class="container">
        <div class="title h1">Часто ищут</div>
        <div class="row">
            {% for i in range(0, 4)  %}
                <div class="col-md-3 mb-2-xl">
                    <div class="title h5">Кредиты</div>
                    <ul class="ul-reset list">
                        <li><a href="#">Без справок о доходах</a></li>
                        <li><a href="#">В день обращения</a></li>
                        <li><a href="#">Самые выгодные</a></li>
                        <li><a href="#">Наличными</a></li>
                    </ul>
                    <div class="title h5">Кредиты</div>
                    <ul class="ul-reset list">
                        <li><a href="#">Без справок о доходах</a></li>
                        <li><a href="#">В день обращения</a></li>
                        <li><a href="#">Самые выгодные</a></li>
                        <li><a href="#">Наличными</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
