<div class="modal" id="policy">
    <div class="title h2">Политика конфиденциальности</div>
    <div class="article">
        <p>1. Общие положения
            Настоящий документ определяет политику ООО «Сравни.ру» в обеспечении безопасности персональных данных, их обработки и действует в отношении всех персональных данных, обрабатываемых ООО «Сравни.ру» в ходе своей деятельности.</p>

        <p>ООО «Сравни.ру» обеспечивает конфиденциальность и безопасность персональных данных при их обработке в соответствии с законодательством Российской Федерации.

        <p>При обработке персональных данных ООО «Сравни.ру» соблюдает принципы и правила обработки персональных данных, а также иные требования, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>1. Общие положения
            Настоящий документ определяет политику ООО «Сравни.ру» в обеспечении безопасности персональных данных, их обработки и действует в отношении всех персональных данных, обрабатываемых ООО «Сравни.ру» в ходе своей деятельности.</p>

        <p>ООО «Сравни.ру» обеспечивает конфиденциальность и безопасность персональных данных при их обработке в соответствии с законодательством Российской Федерации.

        <p>При обработке персональных данных ООО «Сравни.ру» соблюдает принципы и правила обработки персональных данных, а также иные требования, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>1. Общие положения
            Настоящий документ определяет политику ООО «Сравни.ру» в обеспечении безопасности персональных данных, их обработки и действует в отношении всех персональных данных, обрабатываемых ООО «Сравни.ру» в ходе своей деятельности.</p>

        <p>ООО «Сравни.ру» обеспечивает конфиденциальность и безопасность персональных данных при их обработке в соответствии с законодательством Российской Федерации.

        <p>При обработке персональных данных ООО «Сравни.ру» соблюдает принципы и правила обработки персональных данных, а также иные требования, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>1. Общие положения
            Настоящий документ определяет политику ООО «Сравни.ру» в обеспечении безопасности персональных данных, их обработки и действует в отношении всех персональных данных, обрабатываемых ООО «Сравни.ру» в ходе своей деятельности.</p>

        <p>ООО «Сравни.ру» обеспечивает конфиденциальность и безопасность персональных данных при их обработке в соответствии с законодательством Российской Федерации.

        <p>При обработке персональных данных ООО «Сравни.ру» соблюдает принципы и правила обработки персональных данных, а также иные требования, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>1. Общие положения
            Настоящий документ определяет политику ООО «Сравни.ру» в обеспечении безопасности персональных данных, их обработки и действует в отношении всех персональных данных, обрабатываемых ООО «Сравни.ру» в ходе своей деятельности.</p>

        <p>ООО «Сравни.ру» обеспечивает конфиденциальность и безопасность персональных данных при их обработке в соответствии с законодательством Российской Федерации.

        <p>При обработке персональных данных ООО «Сравни.ру» соблюдает принципы и правила обработки персональных данных, а также иные требования, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
    </div>
</div>
<div class="modal" id="question">
    <div class="title h2 center">Задать вопрос</div>
    <form action="" class="form">
        <label class="form-field border">
            <input type="text" name="name" placeholder="Ваше имя">
        </label>
        <label class="form-field border">
            <input type="email" name="email" placeholder="E-Mail">
        </label>
        <label class="form-field border">
            <textarea name="text" placeholder="Текст"></textarea>
        </label>
        <button class="btn btn-yellow all-space">Подобрать</button>
    </form>
</div>
